<!DOCTYPE html>
<html lang="en" ng-app="" ng-csp>
  <head>
    <title>elements client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <script src="/vendor/jquery/jquery.min.js" type="text/javascript"></script> -->
    <script src="/vendor/angularjs/angular.min.js"></script>
    <script src="state.js"></script>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <section>

        <div class="row">
          <div class="span12">

            <div ng-controller="stateCtrl">

              <table width="100%">
                <tr>
                  <td ng-repeat="card in getCardsInEnemyHand()">
                    <div class="tile well well-small player{{(state.currentPlayer+1)%2}}">
                      <p><span class="label label-inverse cardName">? ? ?</span></p>
                    </div>
                  </td>
                </tr>
              </table>

              <br/>

              <table width="100%">
                <tr ng-repeat="row in state.board">
                  <td ng-repeat="tile in row" width="20%">

                    <div ng-switch on="tile.type">

                      <div ng-switch-when="unit" class="tile well well-small unit player{{tile.player}} selected-{{tile.selected}}" ng-click="selectUnit(tile)">
                        <p><span class="label label-inverse cardName">{{tile.name}}</span></p>
                        <p>
                          Attack: <span class="badge">{{tile.attack}}</span><br/>
                          Life: <span ng-show="tile.life < tile.maxLife" title="{{tile.life}}/{{tile.maxLife}}" class="badge badge-important">{{tile.life}}</span><span ng-show="tile.life == tile.maxLife" class="badge">{{tile.life}}</span>
                        </p>
                      </div>

                      <div ng-switch-when="energy" class="tile well well-small energy player{{tile.player}} selected-{{tile.selected}}" ng-click="selectEnergy(tile)">
                        <p><span class="label label-inverse cardName">{{tile.name}}</span></p>
                        <p>
                          Energy: <span class="badge">{{tile.energy}}</span><br/>
                          Life: <span ng-show="tile.life < tile.maxLife" title="{{tile.life}}/{{tile.maxLife}}" class="badge badge-important">{{tile.life}}</span><span ng-show="tile.life == tile.maxLife" class="badge">{{tile.life}}</span>
                        </p>
                      </div>

                      <div ng-switch-when="empty" class="tile well well-small empty" ng-click="selectEmpty(tile)">

                      </div>

                      <span ng-switch-default>N/A</span>

                    </div>

                  </td>
                </tr>
              </table>

              <br/>

              <table width="100%">
                <tr>
                  <td ng-repeat="card in getCardsInOwnHand()" ng-click="selectCard(card)">

                    <div class="tile well well-small player{{state.currentPlayer}} selected-{{card.selected}}">
                      <p><span class="label label-inverse cardName">{{card.name}}</span> <span class="badge badge-info">{{card.cost}}<span></p>
                      <p>
                        Attack: {{card.attack}}<br/>
                        Life: {{card.life}}
                      </p>
                    </div>

                  </td>
                </tr>
              </table>

              <br/>
              <a href="#" class="btn btn-large btn-primary pull-right" ng-click="endTurn()">End turn</a>
            </div>

          </div>
        </div>

      </section>

    </div><!-- /container -->
  </body>
</html>
