  
script(src='/vendor/select2/select2.js')
script(type='text/javascript', src='/vendor/chardin/chardinjs.min.js')

script
  $(document).ready(function() { 
    $("select.multi-select").select2(); 
    $("#page-guide").on('click', function(e) {
      e.preventDefault();
      //- if ($('.header-seperator').is(':visible')) {
      //-   $('body').chardinJs('toggle');
      //- } else {
        $('.header-seperator').animate({
          height: 150
        }, 600, function() {
          $('body').chardinJs('start');
        });
      //- }
    });
    $('body').on('chardinJs:stop', function() {
      $('.header-seperator').animate({
          height: 0
        }, 600);
    });
  });

script(type='text/javascript', src='/vendor/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/js/bootbox.js')
script(type='text/javascript', src='/js/app.js')

script(type='text/javascript', src="/vendor/socket.io/socket.io.js")
script(type='text/javascript')
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    $('.notifications').prepend('<div class="alert alert-info">' + data.text + '</div>');
    //- socket.emit('ping', { something: 'stuff' });
  });
  //- socket.on('pong', function (data) {
  //-   console.log('recieved pong', data);
  //- });

script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
