
header#header
  .navbar
    .container
      a.navbar-toggle(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') 
        span.glyphicon.glyphicon-fire(style='color: darkred') 
        | Elements
      .nav-collapse.collapse
        ul.nav
          li.divider

          li.dropdown(class=(req.path.substring(0,6) === '/games' ? 'active' : ''), data-intro="Game stuff")
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-play-circle 
              | Games 
              b.caret
            ul.dropdown-menu
              li
                a(href='/games', title="games").active 
                  span.glyphicon.glyphicon-th 
                  | All games
              li.divider
              li
                a(href="/games/new", title="new game") 
                  span.glyphicon.glyphicon-plus 
                  | New game

          li.dropdown(class=(req.path.substring(0,6) === '/decks' ? 'active' : ''), data-intro="Deck stuff")
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-list-alt 
              | Decks 
              b.caret
            ul.dropdown-menu
              li
                a(href='/decks', title="decks").active 
                  span.glyphicon.glyphicon-th 
                  | All decks
              li.divider
              li
                a(href="/decks/new", title="new deck") 
                  span.glyphicon.glyphicon-plus 
                  | New deck

          li(class=(req.path === '/users') ? 'active' : '', data-intro="List of all users")
            a(href="/users", title="users")
              span.glyphicon.glyphicon-user 
              | Users

          if (req.user)
            li.divider
              
            li.dropdown(class=(req.path.substring(0,6) === '/xxx' ? 'active' : ''), data-intro="xxx")
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.glyphicon.glyphicon-bell 
                | Notifications 
                span.badge #{req.user.invites.length + req.user.turns.length} 
                b.caret
              ul.dropdown-menu
                li
                  a Invites 
                    span.badge=req.user.invites.length
                li
                  a Your turn 
                    span.badge=req.user.turns.length

          li.divider

          li.dropdown(class=(req.path.substring(0,4) === '/xxx' ? 'active' : ''), data-intro="xxx")
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-question-sign 
              | Help 
              b.caret
            ul.dropdown-menu
              li 
                a Manual
              li(data-intro="You pressed this button")
                a(id="page-guide", href="") 
                  span.glyphicon.glyphicon-info-sign 
                  | Page guide
              li 
                a About

        ul.nav.pull-right
          if (req.isAuthenticated())
            li(class=(req.path === '/users/' + req.user._id) ? 'active' : '', data-intro="This is you")
              a(href="/users/" + req.user._id, title="Profile") 
                span.glyphicon.glyphicon-home 
                | Profile (#{req.user.name})
            li(data-intro="For saying farewell :(")
              a(href="/logout", title="logout") 
                span.glyphicon.glyphicon-off 
                | Logout
          else
            li(data-intro="Just sign here... in blood!")
              a(href="/login", title="Login") 
                span.glyphicon.glyphicon-lock 
                | Login
