if (req.isAuthenticated())
  each invite in req.user.invites
    .alert.alert-info
      a(href="#", class="close", data-dismiss="alert") &times;
      p 
        a(href="/users/" + invite.invitedBy._id) #{invite.invitedBy.name}
        | &nbsp;invited you to play a game. 
        b 
          a(href="/games/" + invite.game) Accept invitation
