if (req.isAuthenticated())
  if (req.user.invites.length > 0)
    .header-seperator
  each invite in req.user.invites
    .alert.alert-success(data-intro="Game invite, yeah!", data-position="top")
      a(href="#", class="close", data-dismiss="alert") &times;
      strong Game invite! 
      a(href="/users/" + invite.owner._id) #{invite.owner.name}
      | &nbsp;invited you to play a game. 
      b 
        a.btn.btn-small.btn-success(href="/games/" + invite._id + "/accept") Accept
        | &nbsp;
        a.btn.btn-small.btn-danger(href="/games/" + invite._id + "/decline") Decline
