if (req.isAuthenticated())
  each invite in req.user.invites
    .alert.alert-info
      a(href="#", class="close", data-dismiss="alert") &times;
      p.lead 
        a(href="/users/" + invite.owner._id) #{invite.owner.name}
        | &nbsp;invited you to play a game. 
        b 
          a(href="/games/" + invite._id + "/accept") Accept invitation
