<!DOCTYPE html>
<html lang="en" ng-app="" ng-csp>
  <head>
    <title>elements client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <script src="/vendor/jquery/jquery.min.js" type="text/javascript"></script> -->
    <script src="/vendor/angularjs/angular.min.js"></script>
    <script src="state.js"></script>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <section>

        <div class="row">
          <div class="span12">

            <div ng-controller="stateCtrl">

              <table width="100%">
                <tr>
                  <td ng-repeat="card in getCardsInEnemyHand()">
                    <div class="thumbnail player{{(state.currentPlayer+1)%2}}">
                      <p><span class="label label-inverse cardName">?</span></p>
                    </div>
                  </td>
                </tr>
              </table>

              <br/>

              <table width="100%">
                <tr ng-repeat="row in state.board">
                  <td ng-repeat="cell in row" width="20%">

                    <div ng-switch on="cell.type">

                      <div ng-switch-when="unit" class="thumbnail unit player{{cell.player}} selected-{{cell.selected}}" ng-click="selectUnit(cell)">
                        <p><span class="label label-inverse cardName">{{cell.name}}</span> <!-- <i>{{cell.id}}</i> --></p>
                        <p>
                          Attack: {{cell.attack}}<br/>
                          Life: {{cell.life}} / {{cell.maxLife}}
                        </p>
                      </div>

                      <div ng-switch-when="energy" class="thumbnail energy player{{cell.player}} selected-{{cell.selected}}">
                        <p><span class="label label-inverse cardName">{{cell.name}}</span></p>
                        <p>Life: {{cell.life}} / {{cell.maxLife}}</p>
                      </div>

                      <div ng-switch-when="empty" class="thumbnail empty" ng-click="selectTile(cell)">

                      </div>

                      <span ng-switch-default>N/A</span>

                    </div>

                  </td>
                </tr>
              </table>

              <br/>

              <table width="100%">
                <tr>
                  <td ng-repeat="card in getCardsInOwnHand()" ng-click="selectCard(card)">

                    <div class="thumbnail player{{state.currentPlayer}} selected-{{card.selected}}">
                      <p><span class="label label-inverse cardName">{{card.name}}</span> {{card.id}}</p>
                      <p>
                        Attack: {{card.attack}}<br/>
                        Life: {{card.life}} / {{card.maxLife}}
                      </p>
                    </div>

                  </td>
                </tr>
              </table>

              <br/>
              <a href="#" class="btn btn-large btn-primary pull-right" ng-click="endTurn()">End turn</a>
            </div>

          </div>
        </div>

      </section>

    </div><!-- /container -->
  </body>
</html>
