td {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}
table, th, td
{
  border: 1px solid #AAA;
}

.player0 {
  background-color: darkblue;
  border: 3px solid blue;
}

.player1 {
  background-color: darkred;
  border: 3px solid red;
}

.cardName {
  font-size: 1em;
}

.unit {

}

.energy {
  background-color: gold;
  color: black;
}

.selected-true {
  border: 2px solid white;
}

td:hover {
  background-color: #222;
  border: 2px solid white;
}
