extends ../layouts/default

block content
  - var action = '/games'
  if (!game.isNew)
    - action += '/'+game.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  .row
    .span7
      form.form-horizontal(method="post", action=action)
        if (!game.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group
          label.control-label(for='title') Opponent
          .controls
            input#title.input-xlarge(type='text', name="players", value="", placeholder='Enter an opponent or leave blank for random')

        .control-group
          label.control-label(for='desc') Cards
          .controls
            input#tags(type='text', name="cards", value="", placeholder='Enter the cards')

        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/games', title="cancel") Cancel
