extends ../layouts/default

block content
  - var action = '/games'
  if (!game.isNew)
    - action += '/'+game.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  .row
    .span7
      form.form-horizontal(method="post", action=action)
        if (!game.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group
          label.control-label(for='title') Opponent
          .controls
            select(name="invites").input-large
              each user in users
                option(value=user._id)=user.name

        .control-group
          label.control-label(for='desc') Cards
          .controls
            select(multiple, name="cards").input-large
              option(value="small-guy") Cannon Fodder
              option(value="big-guy") Big Guy
              option(value="water1") Water
              option(value="water2") Water
              option(value="regenerator") Regenerator

        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/games', title="cancel") Cancel
