extends ../layouts/default

block main
  h1 Game

block content
  .row-fluid
    ul.thumbnails
      each game in games
        li.span4
          .thumbnail
            a(href='/games/' + game._id)
              img(style="width: 400px; height: 300px;", src="http://lorempixel.com/400/300/abstract/?" + Math.random()).img-rounded
            h3.text-center
              a(href='users/' + game.owner._id)=game.owner.name
              each invitee in game.invites
                | &nbsp; vs. &nbsp;
                a(href='users/' + invitee._id)=invitee.name

  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)
