extends ../layouts/default

block main
  h1 Game

block content
  each game in games
    .game
      a.title(href='/games/' + game._id, title=game.title) Game Title
      p game body
      .author
        span= formatDate(game.createdAt, "%b %d, %Y at %I:%M %p")
        span &nbsp;| Author :&nbsp;
        a(href="/users/"+game.owner._id)=game.owner.name

  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)
