extends ../layouts/default

block main
  h1 Playing game '#{game.title}'

block content
  section
    .row
      div(ng-controller='stateCtrl')
        .col-span-10
          .alert.alert-important(ng-show='state.won.indexOf(1) >= 0') {{state.players[1].user.name}} won the game!
          table(width='100%', style='min-height: 110px; background-color: pink;')
            tr
              td(ng-repeat='card in getCardsInEnemyHand()')
                .tile(class='player{{(state.currentPlayer+1)%2}}')
                  p
                    span.label.label-danger.cardName ? ? ?

          table(width='100%')
            tr(ng-repeat='row in state.board')
              td(ng-repeat='tile in row', width='20%')
                div(ng-switch, on='tile.type')
                  .tile.unit(class='player{{tile.player}} selected-{{tile.selected}}', ng-switch-when='unit', ng-click='selectUnit(tile)')
                    p
                      span.label.label-danger.cardName {{tile.name}}
                    p.emj.pull-left(ng-show='tile.player == 0', style='font-size: 4em; color: blue;') &#x1F30A;
                    p.emj.pull-left(ng-show='tile.player == 1', style='font-size: 4em; color: red;') &#x1F525;
                    p Attack: 
                      span.label.label-success {{tile.data.attack}}
                      br
                      | Life: 
                      span.label.label-success(ng-show='tile.data.life == tile.data.maxLife') {{tile.data.life}}
                      span.label.label-danger(ng-show='tile.data.life != tile.data.maxLife') {{tile.data.life}}
                  .tile.data.energy(class='player{{tile.player}} selected-{{tile.selected}}', ng-switch-when='energy', ng-click='selectEnergy(tile)')
                    p
                      span.label.label-danger.cardName {{tile.name}}
                    p.emj.pull-left(ng-show='tile.player == 0', style='font-size: 4em; color: blue;') &#x1F30A;
                    p.emj.pull-left(ng-show='tile.player == 1', style='font-size: 4em; color: red;') &#x1F525;
                    p Energy: 
                      span.label.label-info {{tile.data.energy}}
                      br
                      | Life: 
                      span.label.label-success(ng-show='tile.data.life == tile.data.maxLife') {{tile.data.life}}
                      span.label.label-danger(ng-show='tile.data.life != tile.data.maxLife') {{tile.data.life}}
                  .tile.empty(ng-switch-when='empty', ng-click='selectEmpty(tile)')
                  span(ng-switch-default) N/A

          .alert.alert-success(ng-show='state.won.indexOf(0) >= 0') {{state.players[0].user.name}} won the game!
          table(width='100%', style='min-height: 110px; background-color: lightblue;')
            tr
              td(ng-repeat='card in getCardsInOwnHand()', ng-switch, on='card.type', ng-click='selectCard(card)')
                .tile.hand(class='player{{state.currentPlayer}} selected-{{card.selected}}', ng-switch-when='unit')
                  p
                    span.label.label-danger.cardName {{card.name}}
                    | &nbsp;
                    span.label.cardCost {{card.cost}}
                  p Attack: {{card.data.attack}}
                    br
                    | Life: {{card.data.life}}
                .tile.hand.data.energy(class='player{{state.currentPlayer}} selected-{{card.selected}}', ng-switch-when='energy')
                  p
                    span.label.label-danger.cardName {{card.name}}
                    | &nbsp;
                    span.label.cardCost {{card.cost}}
                  p Energy: {{card.data.energy}}
                    br
                    | Life: {{card.data.life}}
                .tile.hand.spell(class='player{{state.currentPlayer}} selected-{{card.selected}}', ng-switch-when='spell')
                  p
                    span.label.label-danger.cardName {{card.name}}
                    | &nbsp;
                    span.label.cardCost {{card.cost}}
                  p Spell description goes here
                .tile.hand(ng-switch-default)
                  p
                    span.label.label-danger.cardName ???
                    | &nbsp;
                    span.label.cardCost ?
                  p Card type unknown
        .col-span-2
          select(multiple='multiple', style='min-height: 600px;')
            option(ng-repeat='action in state.actionList') {{action.player}}: {{action.action}}
          a.btn.btn-large.btn-block.btn-primary(href='#', ng-disabled='state.won.length > 0', ng-click='endTurn()') End turn
