extends ../layouts/default

block main
  h1= game.title

block content
  //- .row
  //-   .span9
  //-     p=game.body
  //-     p.author
  //-       span Owner :&nbsp;
  //-       a(href="/users/"+game.owner._id)=game.owner.name
  //-     .date= formatDate(game.createdAt, "%b %d, %Y at %I:%M %p")

  //-   .span3
  //-     p Stuff can also go here

  .row
    for player in game.players
      .span4
        .well.well-small
          p.lead 
            a(href='/users/' + player.user._id)=player.user.name
            case player.readyState
              when 'pending': span.text-error &nbsp;(pending)
              when 'accepted': span.text-warning &nbsp;(accepted)
              when 'ready': span.text-success &nbsp;(ready)
          ul
            for card in player.cards
              li #{card}

  p
    br
    form.center.form-inline.confirm(action="/games/" + game._id, method="post")
      .form-actions.pull-right
        a.btn(href='/games/' + game._id + '/edit', title="edit") Edit
        &nbsp;&nbsp;
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger(type="submit") Delete
