extends ../layouts/default

block main
  h1= game.title

block content
  .row
    .col-span-12
      .panel
        .panel-heading Available actions
        a.btn.btn-primary.btn-large(href='/games/' + game._id + '/play/') Take your turn 

  .row
    for player in game.players
      .col-span-4
        .panel
          .panel-heading 
            a(href='/users/' + player.user._id)=player.user.name
            case player.readyState
              when 'pending': span.text-danger &nbsp;(pending)
              when 'accepted': span.text-warning &nbsp;(accepted)
              when 'ready': span.text-success &nbsp;(ready)
          p Some text here
          if player.readyState == 'ready'
            p Deck: 
              b 
                a(href='/decks/' + player.deck[0]._id) My awesome #{player.deck[0].name} deck

  p
    br
    form.center.form-inline.confirm(action="/games/" + game._id, method="post")
      .form-actions.pull-right
        a.btn(href='/games/' + game._id + '/edit', title="edit") Edit
        &nbsp;&nbsp;
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger(type="submit") Delete
