extends ../layouts/default

block content
  - var action = '/decks'
  if (!deck.isNew)
    - action += '/'+deck.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  .row
    .col-span-7
      form.form-horizontal(method="post", action=action)
        if (!deck.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group(data-intro="Chose which deck you would like to play with", data-position="right")
          label.control-label(for='desc') Cards
          .controls
            select(multiple, name="cards", style='width: 100%').multi-select
              for card in cards
                option(value="#{card._id}") #{card.name}

        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/decks', title="cancel") Cancel
