
body {
  padding-top: 20px;
}

td {
  vertical-align: middle;
  text-align: center;
  padding: 4px;
}

.tile {
  min-height: 80px;
  margin-bottom: 0;
}

table, th, td
{
  border: 0;
}

.player0 {
  background-color: darkblue;
  border: 3px solid blue;
}

.player1 {
  background-color: darkred;
  border: 3px solid red;
}

.cardName {
  font-size: 1em;
}

.unit {

}

.property {
  font-weight: bold;
}

.property.damaged-true {
  color: darkred;
}

.energy {
  background-color: gold;
  color: black;
}

.selected-true {
  border: 3px solid yellow;
}

.empty {
  background-color: #000;
  background-color: rgba(255,255,255,0);
  border: 3px solid rgba(0,0,0,0.1);
}

.empty:hover {
  background-color: #222;
  background-color: rgba(255,255,255,0.2);
  border: 3px solid rgba(0,0,0,0.3);
}
