
body {
  padding: 30px;
}

.navbar {
  margin-bottom: 30px;
}

td {
  vertical-align: middle;
  text-align: center;
  padding: 4px;
}

.tile {
  min-height: 80px;
  margin-bottom: 0;
}

table, th, td
{
  border: 0;
}

.player0 {
  background-color: darkblue;
  border: 3px solid blue;
}

.player1 {
  background-color: darkred;
  border: 3px solid red;
}

.cardName {
  font-size: 1em;
}

.unit {

}

.property {
  font-weight: bold;
}

.property.damaged-true {
  color: darkred;
}

.energy {
  background-color: gold;
  color: black;
}

.spell {
  background-color: #222;
  color: white;
}

.selected-true {
  border: 3px solid yellow;
}

.empty {
  background-color: #111;
  background-color: rgba(255,255,255,0.05);
  border: 3px solid rgba(0,0,0,0.1);
}

.empty:hover {
  background-color: #222;
  background-color: rgba(255,255,255,0.2);
  border: 3px solid rgba(0,0,0,0.3);
}

.board {
  min-height: 800px;
  margin: 0 auto;
  text-align: left;
  min-width: 640px;
  border: 1px dashed black;
}

/*
Emoji Symbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
  font-family: "emj";
  src: url('font/EmojiSymbols-Regular.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}

.emj {
  font-family: "emj";
}
