extends layouts/default

block content
  .jumbotron
    h1 Welcome to 
      strong Elements of War
    p Here is some promotional text and pretty pictures.
    p
      a.btn.btn-primary.btn-large Learn more »

