extends layouts/default

block content
  .jumbotron(data-intro="Here is some promotional mumbo-jumbo, please ignore :)")
    h1 Welcome to 
      strong Elements of War 
      sup(data-intro="We're serious!", data-position="top")
        small
          span.label.label-danger
            abbr(title='Very early in development, unstable. Seriously.') Über alpha
    br
    p Elements of War is a game that combines card collection, deck building, tactical gameplay and social aspects.
    
    blockquote.pull-right
      .well(data-intro="We're not serious...", data-position="right")
        p “Best game evar”
        small Your mom

    p 
      i Here is some promotional text and pretty pictures.
    p
      a.btn.btn-primary.btn-large Learn more »

  .row
    .col-span-6
      h4
        span.glyphicon.glyphicon-fire
        | &nbsp; Collect cards
      p
        | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      h4
        span.glyphicon.glyphicon-fire
        | &nbsp; Build deck
      p
        | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    .col-span-6
      h4
        span.glyphicon.glyphicon-fire
        | &nbsp; Play tactically
      p
        | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      h4
        span.glyphicon.glyphicon-fire
        | &nbsp; Compete with friends
      p Maecenas sed diam eget risus varius blandit sit amet non magna.

